.cartaGlobal {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 0.75rem #17171720;
}

section .seccionesExamen {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 40% 58%;
  width: 100%;
  margin-top: 4rem;
}

section .seccionesExamen .sticky {
  position: sticky;
  top: 120px;
  margin-bottom: 3rem;
  z-index: -1;
}

section .seccionesExamen .generalExamen .encabezadoExamen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

section .seccionesExamen .generalExamen .encabezadoExamen .itemInfoEncabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section
  .seccionesExamen
  .generalExamen
  .encabezadoExamen
  .itemInfoEncabezado
  .iconItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  color: #737373;
}

section
  .seccionesExamen
  .generalExamen
  .encabezadoExamen
  .itemInfoEncabezado
  .texto {
  font-size: 1rem;
  font-weight: 600;
  color: #171717;
}

section
  .seccionesExamen
  .generalExamen
  .encabezadoExamen
  .itemInfoEncabezado.certificacion {
  grid-column: span 2;
  margin-top: 1rem;
}

.espaciador {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  margin-bottom: 1rem;
}

section .seccionesExamen .generalExamen .detallesExamen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

section .seccionesExamen .generalExamen .detallesExamen .itemDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section
  .seccionesExamen
  .generalExamen
  .detallesExamen
  .itemDetalle
  .iconDetalle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: #737373;
}

section .seccionesExamen .generalExamen .detallesExamen .itemDetalle .textoD {
  font-size: 0.85rem;
  font-weight: 600;
  color: #171717;
}

/* + instrucciones examen */
section .seccionesExamen .instruccionesExamen {
  margin-top: 2rem;
}
section .seccionesExamen .instruccionesExamen h4 {
  margin-bottom: 0rem;
  color: #171717;
}

section .seccionesExamen .instruccionesExamen > p {
  margin-bottom: 1.5rem;
  color: #737373;
}

section .seccionesExamen .instruccionesExamen .contenedorProgreso {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #737373;
}
section
  .seccionesExamen
  .instruccionesExamen
  .contenedorProgreso
  .progresoTexto {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

section
  .seccionesExamen
  .instruccionesExamen
  .contenedorProgreso
  .barraProgreso {
  width: 100%;
  height: 10px;
  background: #e7e7e7;
  border-radius: 0.5rem;
  overflow: hidden;
}

section
  .seccionesExamen
  .instruccionesExamen
  .contenedorProgreso
  .barraProgreso
  span {
  background: #6eb6ce;
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  display: block;
  transition: width 0.3s ease;
}

section .seccionesExamen .botonEnviarExamen {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}

section .seccionesExamen .botonEnviarExamen .textoEnviar h4 {
  margin-bottom: 0;
}

section .seccionesExamen .botonEnviarExamen .textoEnviar p {
  margin-top: 0.25rem;
  color: #737373;
  font-size: 0.85rem;
}

section .seccionesExamen .botonEnviarExamen button {
  width: 100%;
  margin-top: 1rem;
}

/*+ contenido examen */

/* instrucciones */
section .seccionesExamen .contenidoExamen {
  margin-bottom: 1rem;
}

section .seccionesExamen .contenidoExamen .instrucciones h4 {
  margin-bottom: 0.5rem;
}

section .seccionesExamen .contenidoExamen .instrucciones h5 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

section .seccionesExamen .contenidoExamen .instrucciones p {
  color: #737373;
}

section .seccionesExamen .contenidoExamen .instrucciones li {
  color: #737373;
  font-size: 0.85rem;
}

/* form preguntas */
section .seccionesExamen .contenidoExamen .formExamen {
  margin-top: 2rem;
}

section .seccionesExamen .contenidoExamen .formExamen .cartaPregunta {
  margin-bottom: 2rem;
}

section
  .seccionesExamen
  .contenidoExamen
  .formExamen
  .cartaPregunta
  .encabezadoPregunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section
  .seccionesExamen
  .contenidoExamen
  .formExamen
  .cartaPregunta
  .encabezadoPregunta
  .tituloPregunta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section
  .seccionesExamen
  .contenidoExamen
  .formExamen
  .cartaPregunta
  .encabezadoPregunta
  .tituloPregunta
  span {
  width: 30px;
  min-width: 30px;
  aspect-ratio: 1/1;
  background: #171717;
  border-radius: 50%;
  color: #ffffff;
  display: grid;
  place-items: center;
}

section
  .seccionesExamen
  .contenidoExamen
  .formExamen
  .cartaPregunta
  .encabezadoPregunta
  .tituloPregunta
  p {
  font-size: 1.25rem;
  color: #171717;
  font-weight: 600;
  margin-bottom: 0;
}

section
  .seccionesExamen
  .contenidoExamen
  .formExamen
  .cartaPregunta
  .encabezadoPregunta
  .indicador {
  opacity: 0;
  color: #a2d086;
  font-size: 1.25rem;
}

/* opciones pregunta */
.opcionesPregunta {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 32px;
  gap: 0.5rem;
}

.radio-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  transition: background-color 0.2s, border-color 0.2s;
  color: #171717;
}

.radio-label:hover {
  border: 1px solid #6eb6ce;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  border-color: #6eb6ce;
}

.radio-input:focus + .radio-label {
  outline: 1px solid #6eb6ce;
}

.radio-inner-circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #e7e7e7;
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #6eb6ce;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #6eb6ce;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
