@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* #52525B */

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

body {
  font-size: 1rem;
  color: #3a3a3a;
  background-color: #f8fafc;
  overflow-x: hidden;
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #171717;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

/* ^ globales */
.bg-gradient {
  background: linear-gradient(135deg, #f7f7f7 0%, #ffffff 100%);
}

.contenedor {
  padding: 0 15%;
}

/* botones */
.boton {
  padding: 0.5rem 1rem;
  background-color: #171717;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0rem 0.25rem 0.5rem #17171720;
}

.boton:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.botonBlanco {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #171717;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0rem 0.25rem 0.5rem #17171720;
  border: 1px solid #e7e7e7;
}

.botonBlanco:hover {
  transform: scale(1.05);
}

/* inputs */
.inputForm {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.inputForm p {
  margin-bottom: 0.25rem;
  color: #171717;
  font-weight: 600;
  font-size: 0.85rem;
}

.inputForm input {
  padding: 0.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputForm textarea {
  padding: 0.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 150px;
  resize: none;
}

/* + header */
header {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  padding: 0 15%;
}

header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  position: relative;
}

header .header .logo {
  position: absolute;
  left: 0;
}

header .header .logo img {
  height: 50px;
}

header .header .navegacion ul {
  display: flex;
  gap: 2rem;
}

header .header .navegacion ul li a {
  color: #737373;
  font-weight: 500;
  transition: color 0.3s ease;
}

header .header .navegacion ul li a:hover {
  color: #171717;
  cursor: pointer;
}

header .header .usuarioInfo{
  position: absolute;
  right: 0;
}

header .header .informacionUsuario {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* + footer */
footer {
  padding: 4rem 15%;
  background-color: #171717;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

footer h5 {
  color: #ffffff;
}

footer .infoFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

footer .navegacionFooter ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 0.5rem;
}

footer .navegacionFooter ul li a {
  color: #cccccc;
}

footer .iconRed {
  width: 40px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  background-color: #2c2c2c;
  border-radius: 50%;
  color: #ffffff;
}

footer .espaciador {
  width: 100%;
  height: 1px;
  background: #333333;
}

footer .derechos {
  text-align: center;
  color: #737373;
  margin-top: 2rem;
}

/* + cartas usadas */
/* carta */
.contenedorCartas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.carta {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 0.75rem #17171720;
  padding: 2rem;
  transition: all 0.3s ease;
  border: 2px solid #e7e7e7;
}

.carta:hover {
  box-shadow: 0rem 0.25rem 1.75rem #17171720;
}

.carta .informacion {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.carta .iconoCuadrado {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 48px;
  aspect-ratio: 1/1;
  color: #171717;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

.carta .infonoti {
  font-size: 0.75rem;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
}

.carta .infonoti.pagado {
  background: #a2d086;
}
.carta .infonoti.disponible {
  background: #6eb6ce;
}

.carta .proximamente {
  background: #585858;
}

.carta:hover .iconoCuadrado {
  background-color: #171717;
  color: #ffffff;
}

.carta .subtituloCar {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #171717;
}

.carta p {
  color: #737373;
}

.carta .ventajas {
  font-size: 0.85rem;
}

.carta .ventajas p {
  font-weight: 500;
  margin-top: 1.25rem;
  color: #171717;
}

.carta .ventajas ul {
  margin-top: 0.5rem;
  list-style-type: disc;
  color: #737373;
}

.carta .ventajas ul li {
  margin-bottom: 0.5rem;
}

.carta .detalles {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.75rem;
  background: #f5f5f5;
  font-size: 0.85rem;
}

.carta .detalles .detalleItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.carta .detalles .detalleItem span {
  font-weight: 600;
  color: #171717;
}

.carta .detalles .detalleItem.precio {
  margin-top: 0.75rem;
  align-items: center;
}

.carta .detalles .detalleItem.precio span {
  font-weight: 600;
  font-size: 1.125rem;
}

.carta .detalles .spaciador {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
}

.carta .botonesCarta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.carta .botonesCarta button {
  padding: 0.25rem 0rem;
}
.carta .botonesCarta button:hover {
  transform: scale(1.01);
}

.carta .botonesCarta.deshabilitado button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.carta .botonesCarta.deshabilitado button:hover {
  transform: none;
  background-color: #cccccc;
}

/* carta Valor */
.cartaValor {
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #737373;
  font-size: 0.85rem;
  text-align: center;
}

.cartaValor .iconCV {
  background: #e7e7e7;
  width: 60px;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #171717;
}

.cartaValor h5 {
  line-height: 1;
  margin-bottom: 0;
}

.cartaValor p {
  height: 80px;
  overflow-y: auto;
}

/* carta instructor */
section .cartaInstructor {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

section .cartaInstructor:hover {
  box-shadow: 0rem 0.25rem 1.75rem #17171720;
}

section .cartaInstructor:hover img {
  border-color: #6eb6ce;
}

section .cartaInstructor img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
   transition: all 0.3s ease;
  border: 10px solid #ddd;
}

section .cartaInstructor p{
  height: 150px;
  color: #737373;
  overflow-y: auto;
}