/*&============== DE PAGINA ==============&*/
/* + hero */
section.hero {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

section.hero .informacion {
  color: #171717;
}

section.hero .informacion h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

section.hero .informacion p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #737373;
}

section.hero .heroBotones {
  display: flex;
  gap: 1rem;
}

section.hero .imagenHero img {
  width: 800px;
  height: 450px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1.5rem #17171760;
}

/* + subhero */
section.subhero {
  margin-top: 15rem;
  max-width: 1600px;
  margin: 6rem auto;
}

section.subhero h1 {
  text-align: center;
  margin-bottom: 2rem;
}

section.subhero p {
  text-align: center;
  margin-bottom: 1rem;
  color: #737373;
}

/* informacion */
section.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
section.informacion .tiposCertificaciones {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cartaValor p {
  height: 120px;
  overflow-y: auto;
  text-align: center;
}